@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

html {
    font-size: 10px;
  }
  
  body {
    font-family: "Avenir", "Verdana";
    margin: 0;
    padding: 0;
    color: $font-color;
  }

  main {
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
  }
  