@use '../../styles/global.scss' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {

  &__video {
    height: 18.3rem;
    background-color: black;
    max-width: 100%;
    min-width: 100%;
    object-fit: contain;

    @include tablet {
      height: 72vh;
    }

    @include desktop {
        height: 57.8vh;
        width: 100%;
    }
  }
}
