$font-color: #323232;
$white: #fff;
$silver: #afafaf;
$border-color: #e1e1e1;
$form-input-color: #fafafa;
$btn-color: #0095ff;
$btn-hover: #0065ad;

$mobile-spacing: 1.6rem;
$tablet-spacing: 2.4rem;
$desktop-spacing: 18rem;
