@use '../../styles/global.scss' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.nav {
  height: 16.9rem;
  margin: 0 $mobile-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  &__logo {
    height: 2.4rem;
    margin: 1.1rem 0;
  }
  &__search {
    height: 4.8rem;
    width: 28.8rem;
    border: 0.1rem solid $mercury;
    border-radius: 0.4rem;
    outline: none;
    background-image: url(../../assets/icons/Icon-search.svg);
    background-size: 1.6rem;
    background-position-x: 1.5rem;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  &__search::placeholder {
    color: $graphite;
    font-size: 1.4rem;
    font-family: "Avenir";
  }
  &__search[type="search"] {
    box-sizing: border-box;
    padding-left: 4rem;
  }
  &__wrap{
      display: flex;
  }
  &__cta {
    font-size: 1.2rem;
    height: 4.8rem;
    min-width: 22.2rem;
    color: $white;
    font-weight: $bold;
    text-transform: uppercase;
    background-color: $bf-blue;
    border-radius: 0.4rem;
    border-style: none;
    outline: none;
    padding: 0;
    margin: 0.8rem 0 $mobile-spacing;
    background-image: url(../../assets/icons/Icon-upload.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position-y: center;
    background-position-x: 30%;
  }
  &__avatar {
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    background-position: left;
    background-size: cover;
    width: 4.8rem;
    height: 4.8rem;
    margin: 0.8rem 0 0 1.6rem;
    border-radius: 50%;
  }
}
